@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

@font-face {
    font-family:'SUIT';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'SUIT';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight:bold;
    font-style:normal;
}

::selection{
    background-color:var(--point);
    color:var(--bg);
}

:root{
    --bg:#FAFAFA;
    --line:#E0E0E0;
    --text:#141414;
    --weak:#3C3C3C;
    --point:#9650f0;
}

body{
    margin:0;
    background-color:var(--bg);
    color:var(--text);
    font-family:'Inter','SUIT';
    font-size:15px;
    word-break:keep-all;
}

a{
    text-decoration:none;
    color:var(--point);
}

p{
    margin:0;
}

input{
    box-sizing:border-box;
    width:100%;
    height:20px;
    padding:0 25px;
    border:none;
    outline:none;
    background-color:#00000000;
    color:var(--bg);
    font-family:'Inter','SUIT';
    font-size:16px;
}

blockquote{
    width:max-content;
    margin:0;
    margin-bottom:20px;
    padding:20px;
    border:2px solid var(--weak);
    border-left:6px solid var(--weak);
    color:var(--weak);
}

#navbar{
    z-index:1;
    display:flex;
    justify-content:space-between;
    position:fixed;
    top:0;
    width:100%;
    height:50px;
    background-color:var(--bg);
    color:var(--text);
    border-bottom:1px solid var(--line);
}

#inputbox{
    display:flex;
    align-items:center;
    width:150px;
    height:50px;
    background-color:var(--text);
}

#resultbox{
    display:none;
    position:fixed;
    top:50px;
    width:100%;
    padding:10px 0;
    border-bottom:1px solid var(--line);
    background-color:var(--bg);
}

#result{
    width:max(50%,300px);
    margin:0 auto;
}

#result a{
    color:var(--text);
}

#contentbox{
    width:100%;
    min-height:500px;
    margin-top:70px;
}

#content{
    width:max(50%,300px);
    margin:0 auto;
}

.info{
    width:max-content;
    margin-bottom:20px;
    padding:20px;
    border:2px solid #2850f0;
    border-left:6px solid #2850f0;
    background-color:#2850f028;
}

.caution{
    width:max-content;
    margin-bottom:20px;
    padding:20px;
    border:2px solid #f0a028;
    border-left:6px solid #f0a028;
    background-color:#f0a02828;
}

.danger{
    width:max-content;
    margin-bottom:20px;
    padding:20px;
    border:2px solid #f05028;
    border-left:6px solid #f05028;
    background-color:#f0502828;
}
